
.background {
    background-image: url(teacher2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 70px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(119, 117, 117, 0.7)
}
.logo {
    width: 60vw;
}
@media (max-width: 690px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}
.logo > img {
    width: 100%;
    height: 90%;
    max-width: 350px;
    margin-left: 5px;
    display: flex;
    
    
    text-align: center;
    
}
nav > ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
nav > ul > li {
    padding:25px;
    border: 0.5px solid black;
}
nav > ul > li:hover {
    background-color: rgb(130, 159, 211);
    cursor: pointer;
}
.row0 {
    height: 500px;
}
.row1 {
    background-color: rgba(119, 117, 117, 0.4);
    text-align: center;
    margin: 10px;
    padding: 15px;
    border: 0.5px solid #000;
    
}
#features {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reason {
    background-color: rgba(119, 117, 117, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 0.5px solid #000;

}
@media (max-width: 650px) {
    #features {
        flex-direction: column;
    }
    .reason {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
.row3 {
    background-color: rgba(119, 117, 117, 0.4);
    text-align: center;
    margin: 10px;
    padding: 15px;
    border: 0.5px solid #000;
}
@media (max-width: 750px) {
    #video {
        
        max-width: 90%;
    }
}
.row4 {
    background-color: rgba(119, 117, 117, 0.4);
    text-align: center;
    margin: 10px;
    padding: 15px;
    border: 0.5px solid #000;
    text-align: center;
}
#form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    max-width: 60%;
    text-align: left;
}
#details {
    min-height: 100px;
}
.btn {
    margin-top: 10px;
    width: 60%;
    height: 30px;
    font-size: 1em;
    border: 0.5px black solid;
    background: rgb(190, 188, 188);
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(130, 159, 211);
}
footer {
    text-align: center;
}